/* CONTAINER DO MENU */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #000154;
    padding: 1em;
}

/* REGRAS DA LISTA DE LINKS */
.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

/* REGRAS DOS LINKS */
.item{
    margin-right: 1em;
    color: #FFF;
}

/* REGRA DE TAMANHO DA IMAGEM DE LOGO */
.logo{
    width: 120px;
}