.buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(180deg, rgba(4,134,23,1) 0%, rgba(0,255,76,1) 100%);
}